@charset "utf-8";
.swiper-container {
	clear: both;
}

.swiper-slide img {
	width: 100%;
	height: auto;
	max-height: 320px;
	/*max-height: 168px;*/
}

.swiper-pagination-bullet {
	background: #fff;
	opacity: 1;
}

.swiper-pagination-bullet-active {
	background: #ffcf1c;
}

#banner_warp {
	min-height: 168px;
}

nav {
	position: absolute;
	top: 0;
	z-index: 999;
}

nav h5 {
	font-size: 13px;
	width: 75px;
	padding: 0 20px 0 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #fff;
	position: absolute;
	top: 11px;
	left: 7vw;
	z-index: 9;
}

input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
	line-height: 21px;
	height: 28px;
	margin: 0;
	padding: 5px 15px 5px 32vw;
	-webkit-user-select: text;
	border: none;
	border-radius: 4px;
	outline: 0;
	background-color: rgba(0, 0, 0, 0.3);
	-webkit-appearance: none;
	font-size: 12px;
	margin: 0 0 0 4vw;
	width: 92vw;
	position: relative;
	top: 8px;
	color: #fff;
}

nav .mui-icon-search {
	position: absolute;
	top: -1px;
	color: #fff;
	font-size: 20px;
	left: 29vw;
	top: 13px;
}

.navig img {
	width: 35%;
	height: auto;
}

.navig {
	padding: 10px 0 0 0;
	background: #fff;
}

.navig p {
	color: #686868;
	font-size: 12px;
}

.newslistwarp {
	min-height: 150px;
	margin-top: 10px;
	position: relative;
	background: #fff;
}

.newslistwarp .head {
	padding: 20px 0 0px 0;
}

.newslistwarp hr {
	width: 45%;
}

.newslistwarp .head span {
	font-size: 14px;
	text-align: center;
	color: #999;
	display: inline-block;
	width: 80px;
	position: absolute;
	top: 15px;
	left: calc(50% - 40px);
	background: #fff;
}

.topic {
	height: 50px;
	line-height: 50px;
	padding: 0 8px;
	background: #fff;
	margin: 10px 0 0 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.topic .nodata {
	top: 0px;
}

.topic i {
	font-size: 36px;
	float: left;
	color: #eb3027;
}

.topic a {
	margin: 0 0 0 10px;
	color: #686868;
}

.gameList {
	width: 100vw;
	padding: 10px;
	margin: 10px 0 0 0;
	height: 51.2vw;
	background: #fff url(../../images/newMatch.png) top center no-repeat;
	background-size: 100% 100%;
	position: relative;
	overflow: hidden;
}

.matchLogo {
	width: 60vw;
	height: 61.2vw;
	position: absolute;
	top: 10px;
	left: 19.4vw;
	z-index: 1;
	opacity: 0.1;
}

.matchDetails {
	width: 50vw;
	height: 51.2vw;
	position: absolute;
	top: 0;
	left: 25vw;
	z-index: 9;
}

.matchDetails h4 {
	color: #1ebaf0;
	font-size: 15px;
	margin: 13vw 0 0 0;
}

.matchDetails p {
	color: #000000;
	font-size: 22px;
	margin: 8px 0;
}

.matchDetails div {
	font-size: 12px;
	color: #666;
	margin: 3px 0 0 0;
}

.matchDetails p b {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin: 0 3px;
	background: #000;
	color: #fff;
	font-size: 20px;
}

.matchBtn {
	width: 38vw;
	height: auto;
	display: block;
	margin: 0 auto;
}

.matchList b {
	font-weight: normal;
	font-size: 12px;
	color: #FF723F;
	border: 1px solid #FF723F;
	padding: 0 2px;
	margin: 0 5px 0 0;
	border-radius: 4px;
}

.matchList .mui-ellipsis {
	font-size: 12px;
	padding: 0 25% 0 0;
}

.matchList .icon-shop {
	font-size: 14px;
}

.matchList img {
	border-radius: 50%;
}

.imgList img {
	margin: 12px 0 0 0;
	border-radius: 50%;
	width: 20px;
	height: 20px;
}

.dec {
	width: 20vw;
	position: absolute;
	top: 24px;
	right: 10px;
}

.dec img {
	width: 80%;
	height: auto;
	display: block;
	border-radius: 0;
	float: right;
}

.dec time {
	float: right;
	display: inline-block;
	font-size: 13px;
	color: #999;
	margin: 12px 0 0 0;
	text-align: right;
}

#participation {
	background: #ed5c00;
	width: 80%;
	margin: 0 0 0 10%;
	color: #fff;
	border-radius: 4px;
	font-size: 13px;
	padding: 3px 0;
}

.competition {
	background: #fff;
	margin: 10px 0 0 0;
	position: relative;
}

.competition .head {
	padding: 20px 0px 10px 0;
	color: #13D1BE;
	font-size: 16px;
}

.newmatch {
	min-height: 150px;
	padding: 0 5px 10px 5px;
	width: 100%;
}

.newmatch img {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	/*max-height: 98px;
	min-height: 98px;*/
}

.matchinfo {
	padding: 0px 5px;
}

.matchinfo .top {
	margin: 0px;
	text-align: left;
	font-size: 12px;
}

.matchinfo .top time {
	float: right;
}

.matchinfo h5 {
	margin: 0px;
	line-height: 30px;
	text-align: left;
	color: #333;
	font-size: 16px;
}

.matchinfo .top span {
	color: #ed5c00;
	border: 1px solid #ed5c00;
	border-radius: 2px;
	padding: 0 5px;
	position: relative;
}

.matchinfo .foot {
	text-align: left;
}

.matchinfo .foot .iconfont {
	font-size: 14px;
}

.recommend .header i {
	font-size: 8px;
}

.header .icon-location {
	color: #999;
}

.recommend {
	padding: 8px 0 0 0;
	min-height: 100px;
}

.cardName {
	color: #333;
	font-size: 16px;
}

.num span {
	font-size: 12px;
}

.storeinfo {
	line-height: 20px;
	padding: 8px 5px 0 15px;
	border-bottom: 1px solid #e6ebef;
}

#nearstore_warp>div:nth-of-type(2n+1) {
	border-right: 1px solid #e6ebef;
}

.storeinfo .storeName {
	display: inline-block;
	width: 25vw;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.storeinfo img {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	position: relative;
	top: 5px;
	left: 8px;
}

.storeImg {
	position: absolute!important;
	top: 12px!important;
	left: 67%!important;
}

.storeinfo .star {
	vertical-align: top;
	color: #ccc;
}

.storeinfo .shopName {
	display: inline-block;
	width: 100%;
	font-size: 16px;
}

.storeimgbox {
	width: 100%;
	height: calc(100vw / 3 - 12px);
	display: flex;
	align-items: center;
	overflow: hidden;
}

.storeimgbox img {
	width: 100%;
	height: auto;
	max-height: 180px;
}

.storeinfo .line {
	position: relative;
	font-size: 12px;
}

.storeinfo .line i {
	color: #CECECE;
	font-size: 14px;
	margin-right: 2px;
}

.recommend>p {
	margin-bottom: 6px;
}

.cardList>p {
	margin-bottom: 12px;
}

.cardList img {
	width: 100%;
	height: auto;
}

.foot b {
	font-weight: normal;
	color: #ed5c00;
}

.cardgroupdetail .mui-row {
	color: #999;
	line-height: 30px;
}

.cardgroupimgbox {
	max-width: 100%;
	height: auto;
}

.cardgroupdetail img {
	width: 100%;
}

.btn_change {
	border: 0px;
	position: absolute;
	right: 15px;
	color: #999;
	font-size: 12px;
	margin-top: -5px;
}