<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script type="text/javascript">
			document.write('<script src="../../js/fix.js?rd=?rd=' + Math.random() + '"><\/script>');
		</script>
		<script type="text/javascript">
			link(['../../css/tool/addCard.css']);
		</script>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">添加单卡</h1>
			<button type="button" class="mui-pull-right" id="create">下一步</button>
		</header>
		<div class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<h5 id="hero">英雄卡</h5>
				<ul class="mui-table-view tblv-nl" id="kid1">
					<!--<li class="mui-table-view-cell mui-media">
			            <a href="javascript:;">
			                <img class="mui-media-object mui-pull-left" src="../../images/image.png">
			                <span class="mui-pull-right">
			                	<button type="button" class="iconfont icon-subtract remove"></button>
			                	<b class="num">0</b>
			                	<button type="button" class="iconfont icon-increseblue add"></button>
			                </span>
			                <span class="mui-pull-right">6 <i class="iconfont icon-collect_select"></i></span>
			                <div class="mui-media-body">
			                    卡牌名称
			                    <p class="mui-ellipsis">阶梯：T</p>
			                    
			                </div>
			            </a>
			        </li>
			        <li class="mui-table-view-cell mui-media">
			            <a href="javascript:;">
			                <img class="mui-media-object mui-pull-left" src="../../images/image.png">
			                <span class="mui-pull-right">
			                	<button type="button" class="iconfont icon-subtract remove"></button>
			                	<b class="num">0</b>
			                	<button type="button" class="iconfont icon-increseblue add"></button>
			                </span>
			                <span class="mui-pull-right">6 <i class="iconfont icon-collect_select"></i></span>
			                <div class="mui-media-body">
			                    卡牌名称
			                    <p class="mui-ellipsis">阶梯：T</p>
			                    
			                </div>
			            </a>
			        </li>-->
				</ul>
				<h5 id="arms">武装卡</h5>
				<ul class="mui-table-view tblv-nl" id="kid2">
					<!--<li class="mui-table-view-cell mui-media">
			            <a href="javascript:;">
			                <img class="mui-media-object mui-pull-left" src="../../images/image.png">
			                <span class="mui-pull-right">
			                	<button type="button" class="iconfont icon-subtract remove"></button>
			                	<b class="num">0</b>
			                	<button type="button" class="iconfont icon-increseblue add"></button>
			                </span>
			                <span class="mui-pull-right">6 <i class="iconfont icon-collect_select"></i></span>
			                <div class="mui-media-body">
			                    卡牌名称
			                    <p class="mui-ellipsis">阶梯：T</p>
			                    
			                </div>
			            </a>
			        </li>-->
				</ul>
			</div>
		</div>
		<script type="text/html" id="cardListTep1">
			{{each data as value}} {{if value.CardType=="英雄卡"}}
			<li class="mui-table-view-cell mui-media">
				<a href="javascript:;">
					<img class="mui-media-object mui-pull-left loadthumb" data-url="{{value.ImgUrl}}" data-wh=",128">
					<span class="mui-pull-right">
			                	<button type="button" class="iconfont icon-subtract remove"></button>
			                	<b class="num" data-cardid="{{value.CardId}}" data-type="{{value.CardType}}" data-url="{{value.ImgUrl}}">{{value.CardNum}}</b>
			                	<button type="button" class="iconfont icon-increseblue add"></button>
			                </span> {{if value.StarNum!=null}}
					<span class="mui-pull-right">{{value.StarNum}} <i class="iconfont icon-collect_select"></i></span> {{/if}}
					<div class="mui-media-body">
						{{value.CardName}} {{if value.JobName!=null}}
						<p class="mui-ellipsis">阶级：{{value.JobName}}</p>
						{{/if}}
					</div>
				</a>
			</li>
			{{/if}} {{/each}}
		</script>
		<script type="text/html" id="cardListTep2">
			{{each data as value}} {{if value.CardType=="武装卡"}}
			<li class="mui-table-view-cell mui-media">
				<a href="javascript:;">
					<img class="mui-media-object mui-pull-left loadthumb" data-url="{{value.ImgUrl}}" data-wh=",128">
					<span class="mui-pull-right">
			                	<button type="button" class="iconfont icon-subtract remove"></button>
			                	<b class="num" data-cardid="{{value.CardId}}" data-type="{{value.CardType}}">{{value.CardNum}}</b>
			                	<button type="button" class="iconfont icon-increseblue add"></button>
			                </span>
					<span class="mui-pull-right">{{value.StarNum}} <i class="iconfont icon-collect_select"></i></span>
					<div class="mui-media-body">
						{{value.CardName}}
						<p class="mui-ellipsis">阶级：{{value.JobName}}</p>
					</div>
				</a>
			</li>
			{{/if}} {{/each}}
		</script>
		<script type="text/javascript">
			//必须顺序加载
			script(['../../js/tool/addCard.js']);
		</script>
	</body>

</html>