@charset "utf-8";

#create {
	margin: 11px 0 0 0;
	background: #4B9CF6;
	color: #fff!important;
	font-size: 13px;
	padding: 3px 8px 1px 8px;
	border-radius: 4px;
	border: none;
}

.icon-subtract,.icon-increse,.icon-increseblue{
	font-size:19px;
}

.mui-media span:nth-of-type(1){
	margin: 0 0 0 20px;
}

.mui-media span:nth-of-type(2){
	color: #4B9CF6;
	margin: 10px 0 0 0;
}

.mui-media span:nth-of-type(1) b{
	display: inline-block;
	margin: 8px 0 0 0;
	font-size: 16px;
	color: #4B9CF6;
	font-weight: normal;
	position: relative;
}

.mui-media span:nth-of-type(1) button{
	color: #4B9CF6;
	border: none;
	padding:3px 7px;
	margin: 4px 0 0 0;
}

.mui-content h5{
	background: #fff;
	margin: 10px 0 0 0;
	padding: 7px 15px;
	color: #333;
}

#hero,#arms{
	display: none;
}
