@charset "utf-8";
.mui-content {
	background: #fff;
}

#selet {
	font-size: 12px;
	line-height: 50px;
	color: #666;
	margin: 0 10px 0 0;
}

.mui-table-view {
	width: 80%;
	margin: 0 0 0 20%;
	border-left: 1px solid #c8c7cc;
}

.star {
	background: #fff;
	width: 20%;
	float: left;
	padding: 0;
	margin: 0;
	list-style: none;
}

.star li {
	height: 55px;
	line-height: 55px;
	color: #13D1BE;
	border-bottom: 1px solid #c8c7cc;
}

.col {
	background: #f0f0f0;
	height: 10px;
}

.star .active {
	background: #f1f9ff;
}