@charset "utf-8";
.kind .active {
	background: #13D1BE;
	color: #fff;
}

#pullrefresh {
	top: 195px;
}

.mui-bar-nav~.mui-content .mui-pull-top-pocket {
	top: 0px;
}

#create {
	margin: 11px 0 0 0;
	background: #13D1BE;
	color: #fff!important;
	font-size: 13px;
	padding: 3px 8px 1px 8px;
	border-radius: 4px;
	border: none;
}

nav {
	background: #fff;
	line-height: 40px;
	font-size: 13px;
	/*border-bottom:1px solid #c8c7cc ;*/
}

nav span {
	display: inline-block;
	height: 40px;
	margin: 0 12px;
	position: relative;
}

.active {
	color: #13D1BE;
}

.active i {
	display: inline-block;
	width: 70%;
	height: 2px;
	background: #74b6ed;
	position: absolute;
	left: 15%;
	bottom: 0;
}

.kind {
	background: #fff;
	width: 100%;
	padding: 8px;
	height: 62px;
	padding-top: 15px;
}

.kind span {
	float: left;
	display: inline-block;
	width: 18%;
	text-align: center;
	background: #f1f9ff;
	font-size: 11px;
	color: #74858e;
	line-height: 30px;
	margin: 0 1%;
	border-radius: 5px;
}

.contant {
	clear: both;
}

.contant>p {
	height: 30px;
	margin: 10px 0 0 0;
	padding: 5px 10px;
	font-size: 13px;
	background: #fff!important;
	color: #333;
}

.contant>p span:nth-of-type(2) {
	color: #74b6ed;
}

.mui-table-view:before,
.mui-table-view:after {
	height: 0;
}


/**
 * 没有数据
 */

.none {
	display: none;
	height: 50vh;
	margin: 190px 0 0 0;
}

.none img {
	width: 50%;
	height: auto;
	display: block;
	margin: 10vh auto 0 auto;
}

.none p {
	font-size: 16px;
	margin: 10px 0 0 0;
}