@charset "utf-8";
.mui-scroll-wrapper {
	padding: 0 0 50px 0;
}

#detail>p:nth-of-type(2) {
	height: 15px;
	background: #f0f0f0;
}

.cardName {
	font-size: 18px;
	color: #333;
	border-bottom: 1px solid #e6ebef;
	padding: 12px 0 6px 10px;
	background: #fff;
	margin: 0;
}

.card {
	background: #fff;
	width: 100%;
	padding: 20px 10% 4px 10%;
}

#detail {
	font-size: 13px;
	color: #485257;
	padding: 0 0 30px 0px;
	background: #fff;
	margin: 0 0 11px 0;
	min-height: calc(100vh - 110px);
}

#detail div:nth-of-type(2n) {
	color: #74B6ED;
}

#detail .iconfont {
	font-size: 13px;
}

.effect {
	background: #fff;
	padding: 10px 15px 20px 15px;
}

.effect h5 {
	color: #485257;
}

.effect p {
	font-size: 12px;
}

.mui-bar-tab>span {
	display: inline-block;
	width: 25%;
	height: 50px;
	text-align: center;
	font-size: 12px;
	color: #485257;
}

.mui-bar-tab>span i {
	font-size: 18px;
	position: relative;
	top: 3px;
}

.mui-bar-tab>span .active {
	color: #74b6ed;
}

.select {
	line-height: 50px;
	padding: 0 10px 0 0;
}

.select i {
	border: 1px solid #999;
	border-radius: 4px;
	padding: 0!important;
	color: #999;
}

#page {
	display: inline-block;
	margin: 0 5px;
	color: #666;
	position: relative;
	top: -2px;
}

.select .active {
	background: #13D1BE;
	color: #fff;
	border: 1px solid #74b6ed;
}

.select .end {
	background: #f0f0f0;
	border: 1px solid #ccc;
}

.mui-row>div:nth-of-type(2n+1) {
	text-align: right;
}

#detail div {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.effect p img {
	margin: 0 3px 0 0;
	position: relative;
	top: 4px;
}

.mui-row {
	border-top: 1px solid #E6EBEF;
	border-bottom: 1px solid #E6EBEF;
	padding: 15px 0;
}

img.loadok {
	background: #fff;
}


/**
 * 图片预览
 */

.mui-preview-image.mui-fullscreen {
	position: fixed;
	z-index: 20;
	background-color: #000;
}

.mui-preview-header,
.mui-preview-footer {
	position: absolute;
	width: 100%;
	left: 0;
	z-index: 10;
}

.mui-preview-header {
	height: 44px;
	top: 0;
}

.mui-preview-footer {
	height: 50px;
	bottom: 0px;
}

.mui-preview-header .mui-preview-indicator {
	display: block;
	line-height: 25px;
	color: #fff;
	text-align: center;
	margin: 15px auto 4;
	width: 70px;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 12px;
	font-size: 16px;
}

.mui-preview-image {
	display: none;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.mui-preview-image.mui-preview-in {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

.mui-preview-image.mui-preview-out {
	background: none;
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}

.mui-preview-image.mui-preview-out .mui-preview-header,
.mui-preview-image.mui-preview-out .mui-preview-footer {
	display: none;
}

.mui-zoom-scroller {
	position: absolute;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	-webkit-backface-visibility: hidden;
}

.mui-zoom {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.mui-slider .mui-slider-group .mui-slider-item img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
	width: 100%;
}

.mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item {
	display: inline-table;
}

.mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
	display: table-cell;
	vertical-align: middle;
}

.mui-preview-loading {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
}

.mui-preview-loading.mui-active {
	display: block;
}

.mui-preview-loading .mui-spinner-white {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
	height: 50px;
	width: 50px;
}

.mui-preview-image img.mui-transitioning {
	-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
	transition: transform 0.5s ease, opacity 0.5s ease;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

img {
	max-width: 100%;
	height: auto;
}

.mui-preview-header .mui-preview-indicator {
	margin: 15px auto 4px auto;
}