@charset "utf-8";
.container {
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.vs {
	font-size: 50px;
	color: #77b8ee;
	margin: 0 15px;
}

.box {
	width: 65px;
	height: 65px;
	border-radius: 50%;
	background-size: 100%;
	padding: 3px;
	border: 3px solid #fff;
	box-shadow: 0 0 0 1px #77b8ee;
	position: relative;
}

.box span {
	color: #999;
	font-size: 11px;
	position: absolute;
	bottom: -25px;
	left: calc(50% - 11px);
}