@charset "utf-8";
.mui-content {
	background: #fff;
}

.star {
	padding: 0 10px;
}

.star h4 {
	font-weight: normal;
	font-size: 16px;
	margin: 15px 0 0 0;
}

.hr hr {
	margin: 5vh 0 0 0;
	border: none;
	border-bottom: 1px solid #e6ebef;
}

.hr hr:nth-of-type(2) {
	border-bottom: 1px solid #74b6ed;
}


/**
 * 图表
 */

.charts {
	padding: 10px 0 30px 0;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	position: relative;
	top: calc(-20vh - 10px);
}

.charts strong {
	font-weight: normal;
	font-size: 16px;
}

.charts i {
	font-style: normal;
	color: #999;
	font-size: 12px;
}

.charts b {
	font-weight: normal;
	display: block;
	width: 25px;
	height: 20vh;
	background: #13D1BE;
	margin: 0 0 10px 0;
	color: #fff;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}