@charset "utf-8";
.mui-content {
	margin: 0;
}


/**
 * 无记录
 */

.none {
	width: 100%;
	height: 100vh;
	background: #f0f0f0;
	position: absolute;
	top: 0;
	z-index: 9;
	display: none;
}

.none img {
	width: 50%;
	height: auto;
	display: block;
	margin: 30vh auto 0 auto;
}